---
github:
  app:
    applicationID: "${github_app_application_id}"
    installationID: "${github_app_installation_id}"
  organisation: ${github_organisation}
  repository: ${github_repository}
  tokenSecretName: actions-runners-token-moj-apc-self-hosted-runners
  tokenSecretKey: token
  runner:
    labels: ${github_runner_labels}
