USE [Transport]
GO
/****** Object:  User [Administrators]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [Administrators]
GO
/****** Object:  User [hyperadmin]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [hyperadmin] WITH DEFAULT_SCHEMA=[hyperadmin]
GO
/****** Object:  User [hyperchrisc]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [hyperchrisc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[hyperchrisc]
GO
/****** Object:  User [localadmn]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [localadmn] WITH DEFAULT_SCHEMA=[localadmn]
GO
/****** Object:  User [transport]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [transport] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[transport]
GO
/****** Object:  User [TransportUser]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [TransportUser] FOR LOGIN [sa-Transport] WITH DEFAULT_SCHEMA=[TransportUser]
GO
/****** Object:  User [WIN-KGDGQAP093N\SQLServerRO]    Script Date: 07/18/2024 15:34:05 ******/
CREATE USER [WIN-KGDGQAP093N\SQLServerRO] FOR LOGIN [WIN-KGDGQAP093N\SQLServerRO]
GO
/****** Object:  Schema [Administrators]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [Administrators] AUTHORIZATION [Administrators]
GO
/****** Object:  Schema [hyperadmin]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [hyperadmin] AUTHORIZATION [hyperadmin]
GO
/****** Object:  Schema [hyperchrisc]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [hyperchrisc] AUTHORIZATION [hyperchrisc]
GO
/****** Object:  Schema [localadmn]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [localadmn] AUTHORIZATION [localadmn]
GO
/****** Object:  Schema [transport]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [transport] AUTHORIZATION [transport]
GO
/****** Object:  Schema [TransportUser]    Script Date: 07/18/2024 15:34:05 ******/
CREATE SCHEMA [TransportUser] AUTHORIZATION [TransportUser]
GO
/****** Object:  FullTextCatalog [transport]    Script Date: 07/18/2024 15:34:05 ******/
CREATE FULLTEXT CATALOG [transport]WITH ACCENT_SENSITIVITY = OFF
AUTHORIZATION [dbo]
GO
/****** Object:  StoredProcedure [dbo].[spAddJudgment]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spAddJudgment] 

@Id int OUTPUT,
@Is_published bit,
@File_no_1 varchar(5),
@File_no_2 varchar(5),
@Decision_datetime datetime,
@Claimants ntext,
@Respondent ntext,
@Main_subcategory_id int,
@Sec_subcategory_id int,
@Headnote_summary ntext

AS

DECLARE @Publication_datetime datetime

IF @Is_published = 1 
	SELECT @Publication_datetime = getdate()

INSERT
	Judgment
	(
		Is_published,
		File_no_1,
		File_no_2,
		Decision_datetime,
		Claimants,
		Respondent,
		Main_subcategory_id,
		Sec_subcategory_id,
		Headnote_summary,
		Created_datetime,
		Last_updatedtime,
		Publication_datetime
	)

VALUES
	(
		@Is_published,
		@File_no_1,
		@File_no_2,
		@Decision_datetime,
		@Claimants,
		@Respondent,
		@Main_subcategory_id,
		@Sec_subcategory_id,
		@Headnote_summary,
		getdate(),
		getdate(),
		@Publication_datetime
	)

SELECT @Id = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[spAddCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spAddCategory] 

@description varchar(100)

AS

INSERT
	Category
	(
		[description]
	)

VALUES
	(
		@description
	)
GO
/****** Object:  StoredProcedure [dbo].[spCountJudgmentsBySubCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spCountJudgmentsBySubCategory] 

@Id int

AS

SELECT
	COUNT(*) as num

FROM
	Judgment

WHERE
	main_subcategory_id = @Id

	OR

	sec_subcategory_id = @Id
GO
/****** Object:  StoredProcedure [dbo].[spAddUser]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddUser] 

@UserID integer OUTPUT,
@Username varchar(50),
@Password varchar(50),
@Firstname varchar(50),
@Lastname varchar(50)

AS

INSERT 
	Users

	(
		Username,
		[Password],
		Firstname,
		Lastname
	)

VALUES

	(
		@Username,
		@Password,
		@Firstname,
		@Lastname
	)

SELECT @UserID = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[spDeleteCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spDeleteCategory] 

@Id int

AS

DELETE
	Category

WHERE
	Num = @Id
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoryList]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGetCategoryList] 

AS

SELECT num, [description]
FROM category
ORDER BY num
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUser]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spDeleteUser] 

@UserID int

AS

DECLARE
@Count int

SELECT @Count = COUNT(*) FROM Users

IF @Count > 1
	BEGIN
		DELETE
			Users
		
		WHERE
			UserID = @UserID
	END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUser]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spUpdateUser] 

@UserID int,
@Username varchar(50),
@Password varchar(50),
@Firstname varchar(50),
@Lastname varchar(50)

AS

UPDATE
	Users

SET
	Username = @Username,
	Firstname = @Firstname,
	Lastname = @Lastname

WHERE
	UserID = @UserID

-- Update the password ONLY if provided
IF @Password IS NOT NULL AND 0 < LEN(@Password)
	UPDATE Users
	SET [Password] = @Password
	WHERE UserID = @UserID
GO
/****** Object:  StoredProcedure [dbo].[spUpdateJudgment]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spUpdateJudgment] 

@Id int,
@Is_published bit,
@File_no_1 varchar(5),
@File_no_2 varchar(5),
@Decision_datetime datetime,
@Claimants ntext,
@Respondent ntext,
@Main_subcategory_id int,
@Sec_subcategory_id int,
@Headnote_summary ntext

AS

DECLARE
@Publication_datetime datetime,
@CurrentlyPublished bit

SELECT @CurrentlyPublished = Is_Published FROM Judgment WHERE [id] = @Id

IF (@CurrentlyPublished = 0 AND @Is_published = 1)
	BEGIN
		SELECT @Publication_datetime = getdate()
	END

IF @CurrentlyPublished = 1
	BEGIN
		SELECT @Publication_datetime = Publication_datetime FROM Judgment WHERE [id] = @Id
	END

IF @Is_published = 0
	BEGIN
		SELECT @Publication_datetime = NULL
	END

UPDATE
	Judgment

SET
	Is_Published = @Is_Published,
	File_no_1 = @File_no_1,
	File_no_2 = @File_no_2,
	Decision_datetime = @Decision_datetime,
	Claimants = @Claimants,
	Respondent = @Respondent,
	Main_subcategory_id = @Main_subcategory_id,
	Sec_subcategory_id = @Sec_subcategory_id,
	Headnote_summary = @Headnote_summary,
	Last_updatedtime = getdate(),
	Publication_datetime = @Publication_datetime

WHERE
	[Id] = @Id
GO
/****** Object:  StoredProcedure [dbo].[spUpdateCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spUpdateCategory] 

@id int,
@description varchar(100)

AS

UPDATE
	Category

SET
	[description] = @description

WHERE
	num = @id
GO
/****** Object:  StoredProcedure [dbo].[spLoginUser]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spLoginUser]

@Username varchar(50),
@Password varchar(50)

AS

SELECT
	*

FROM
	Users

WHERE
	Username = @Username

AND
	[Password] = @Password
GO
/****** Object:  StoredProcedure [dbo].[spGetUserList]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGetUserList] 

AS

SELECT
	UserID, Username, [Password], Firstname, Lastname

FROM
	Users
GO
/****** Object:  StoredProcedure [dbo].[spGetUser]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGetUser] 

@UserID int

AS

SELECT
	UserID, Username, [Password], Firstname, Lastname

FROM
	Users

WHERE
	UserID = @UserID
GO
/****** Object:  StoredProcedure [dbo].[spGetSubCategoryListByCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGetSubCategoryListByCategory] 

@CategoryId int

AS

SELECT [id], parent_num, s.num, s.[description], c.[description] as categoryname
FROM subcategory s
inner join category c on s.parent_num = c.num
WHERE parent_num = @CategoryId
ORDER BY s. num
GO
/****** Object:  StoredProcedure [dbo].[spGetSubCategoryList]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGetSubCategoryList] 

AS

SELECT [id], parent_num, num, [description]
FROM subcategory
ORDER BY parent_num, num
GO
/****** Object:  StoredProcedure [dbo].[spGetDecisionPublished]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetDecisionPublished] 

@DecisionId  int,
@Is_Published bit

AS

select j.*, s.[description] as subcategory, s.[id] as subcatid, c.[description] as category, c.num as catid,
	s2.[description] as secsubcategory, s2.[id] as secsubcatid, c2.[description] as seccategory, c2.num as seccatid 
from judgment j
inner join subcategory s on j.main_subcategory_id = s.id
inner join category c on s.parent_num = c.num
left join subcategory s2 on j.sec_subcategory_id = s2.id
left join category c2 on s2.parent_num = c2.num
where j.[id] = @DecisionId
and is_published = @Is_Published
GO
/****** Object:  StoredProcedure [dbo].[spGetDecision]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetDecision] 

@DecisionId  int

AS

select j.*, s.[description] as subcategory, s.[id] as subcatid, c.[description] as category, c.num as catid,
	s2.[description] as secsubcategory, s2.[id] as secsubcatid, c2.[description] as seccategory, c2.num as seccatid 
from judgment j
inner join subcategory s on j.main_subcategory_id = s.id
inner join category c on s.parent_num = c.num
left join subcategory s2 on j.sec_subcategory_id = s2.id
left join category c2 on s2.parent_num = c2.num
where j.[id] = @DecisionId
GO
/****** Object:  StoredProcedure [dbo].[spUpdateSubCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spUpdateSubCategory] 

@id int,
@parent_num tinyint,
@description varchar(100),
@num tinyint

AS

UPDATE
	Subcategory

SET
	parent_num = @parent_num,
	[description] = @description,
	num = @num

WHERE
	[id] = @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteSubCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spDeleteSubCategory] 

@Id int

AS

DELETE
	SubCategory

WHERE
	[Id] = @Id
GO
/****** Object:  StoredProcedure [dbo].[spCountSubCategoryByCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCountSubCategoryByCategory] 

@CategoryId int

AS

SELECT
	COUNT(*)

FROM
	Subcategory

WHERE
	parent_num = @CategoryId
GO
/****** Object:  StoredProcedure [dbo].[spAddSubCategory]    Script Date: 07/18/2024 15:34:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spAddSubCategory] 

@parent_num tinyint,
@description varchar(100),
@num tinyint

AS

INSERT
	Subcategory
	(
		parent_num,
		[description],
		num
	)

VALUES
	(
		@parent_num,
		@description,
		@num
	)
GO
