---
serviceMonitor:
  enabled: true

cloudWatchLogs:
  enabled: true
  match: kube.*
  region: ${aws_region}
  logGroupName: ${cloudwatch_log_group_name}
  logGroupTemplate: ${cloudwatch_log_group_name}/$kubernetes['namespace_name']
  logStreamTemplate: $kubernetes['pod_name'].$kubernetes['container_name']
  logRetentionDays: 365
  autoCreateGroup: true

input:
  extraInputs: |
    Read_from_Head On

filter:
  bufferSize: 128k

serviceAccount:
  create: true
  name: fluent-bit
  annotations:
    eks.amazonaws.com/role-arn: ${eks_role_arn}

priorityClassName: system-node-critical

tolerations:
  - operator: Exists
