# EC2Launch V2 user data
# https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec2launch-v2-settings.html
version: 1.0
tasks:
  - task: executeScript
    inputs:
      - frequency: once
        type: powershell
        runAs: admin
        content: |-
          $ErrorActionPreference = "Stop"

          Write-Output "Installing IIS"
          Install-WindowsFeature -Name Web-Server -IncludeManagementTools

          $content = @"
          <!doctype html>
          <html lang="en">
            <head>
              <meta charset="utf-8">
              <title>London Unpaid Work Web Server</title>
            </head>
            <body>
              <h1>London Unpaid Work Web Server</h1>
              <p>IIS was configured by EC2Launch V2 user data.</p>
            </body>
          </html>
          "@

          Remove-Item "C:\inetpub\wwwroot\iisstart.htm" -ErrorAction SilentlyContinue
          Set-Content -Path "C:\inetpub\wwwroot\index.html" -Value $content -Encoding UTF8

          Set-Service -Name W3SVC -StartupType Automatic
          Start-Service -Name W3SVC

          $response = Invoke-WebRequest -Uri "http://localhost:80" -UseBasicParsing
          if ($response.StatusCode -ne 200 -or $response.Content -notmatch "London Unpaid Work Web Server") {
            throw "IIS web server verification failed"
          }

          Write-Output "IIS web server installation and verification completed"