.env
.terraform
*.tfstate*
.DS_Store
tmp/
.vscode/
.terraform.lock.hcl
**/node_modules
**/package-lock.json
**/*-draft.*

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

.tfsec/