[IES System Local]
Name                    = "Pre-Prod"
Url                     = "10.40.42.68:45054"

[InVision Enterprise Server]
LogModelMessages        = 1
LogConnections          = 1
LogModelServices        = 0
LogMaxLines             = 100000
TroubleRestarts         = 2
TroubleWaitTime         = 30000
ServerPort              = 45054
ListenBackLog           = 200

[InVision HTTP Server]
LogLevel                = "debug"
LogRequestComments      = 0
LogFileMaxSize          = 262144
CompressionThreshold    = 4096
HTTPPort                = 7770
HTTPBackLog             = 200
ThreadCacheSize         = 50
MaxKeepAliveConnects    = 50
BufferedResources       = "www.ivl"
wwwRootDir              = ".\www"
Resources               = "help1031.ivl;help1033.ivl;help1036.ivl;help1040.ivl;help1043.ivl;help1044.ivl;help1045.ivl;h
elp1049.ivl;help1053.ivl;help1055.ivl;help2057.ivl;help2070.ivl;help3082.ivl"
FieldFileLoad           = 1031, 1033, 1036, 1040, 1043, 1044, 1045, 1049, 1053, 1055, 2057, 2070, 3082
; defines the label color and standard label, valid (P/p)roduction, (D/d)evelopment, (T/t)est
EnvironmentType = "Development"
; defines a custom text, if not set it takes Production, Development or Test according to EnvironmentType
EnvironmentLabel = "PreProd Region1"

[InVision HTTP Server Plugin Settings]
ApEmployeesHideDateOfBirth = 1
ApEmployeesHideBirthplace = 1
ApEmployeesHideMaritalStatus = 1
ApEmployeesHideStreet = 1
ApEmployeesHidePostcode = 1
ApEmployeesHideCity = 1
ApEmployeesHideTelephone = 1
ApEmployeesHideTelephone2 = 1
ApEmployeesHideEmail = 1
ApEmployeesHideEmail2 = 1
ApEmployeesHideCountry = 1
ApEmployeesHideIDCardNumber = 1
ApEmployeesHideCostCenter = 1
iSafeRun.MaxScriptRuntime = 1800000

[4b6b22f0-c50d-11d3-8441-00a0c9d6cabb]
ShortName               = "eSystem"
MaxSessionTime          = 1800
MaxInfothekTime         = 300
MaxPreLogonTime         = 60
SingleLogonDomains      = ""

[InVision General Model Settings]
DBType                  = "Oracle"
DBServerName            = "${DBServerName}"
DBUserName              = "${DBUserNameR1}"
DBPasswd                = "${DBPasswdR1}"
DBName                  = ""

[2fb89373-a00d-11d4-b1ea-00a0c9d6a566]
ShortName               = "ivTaskWd"
Name                    = "InVision Task Working Model"
CacheKernelFrame        = 250
CacheKernelHistorical   = 70
EnableErpdCache         = 1
CoveringCheckTime       = 1000
CoveringMaxMemUsage     = 268435456
EnableScheduleProtocol  = 1

[4470951a-9dcb-11d4-aa23-00c0dfe264d8]
ShortName               = "ivCurve"
Name                    = "InVision Curve Model"
CacheKernelFrame        = 150
CacheKernelHistorical   = 70

[ec4f1d56-3f11-11db-8af6-b622a1ef5492]
ShortName               = "ivTiMgt"
Name                    = "InVision Time Management Model"
CacheKernelFrame        = 150
CacheKernelHistorical   = 70

[efd305f3-1fee-11d4-b17a-00a0c9d6a566]
ShortName               = "ivLocale"
Name                    = "InVision Localization Model"
DefaultLanguage         = 1033

[8f62c63f-74d0-4210-81ef-a431f7e1b45e]
ShortName = "ivJPM"
Name = "InVision JobProcessor Model"
DocumentsFolder = "\\10.40.42.68\Results"
MaxJobsPerCPU = 2

[InVision JobProcessor]
MaxJobs = 2
URL = "10.40.42.68:45054"

[InVision Job Handler iJP_Rprt]
ExeFile = iJP_Rprt.exe
AcceptedExecPath = /iWFM/iReport/.*

[InVision Job Handler iJP_Iss]
ExeFile = iJP_Iss.exe
AcceptedExecPath = /iWFM/Iss/.*

[InVision Job Handler iJP_Laa]
ExeFile = iJP_Laa.exe
AcceptedExecPath = /iWFM/Laa/.*

[InVision Job Handler iJP_Cad]
ExeFile = iJP_Cad.exe
AcceptedExecPath = /iWFM/Level/.*

[InVision Job Handler iJP_Twa]
ExeFile = iJP_Twa.exe
AcceptedExecPath = /iWFM/Twa/.*

[InVision Job Handler iJP_Aae]
ExeFile = iJP_Aae.exe
AcceptedExecPath = /iWFM/Activity/.*

[InVision Job Handler iJP_Mass]
ExeFile = iJP_Mass.exe
AcceptedExecPath = /iWFM/MassUpd/.*

[InVision Job Handler iJP_Cts]
ExeFile = iJP_Cts.exe
AcceptedExecPath = /iWFM/Cts/.*

[InVision Job Handler Monthly Report]
ExeFile = iJP_Rprt.exe
AcceptedExecPath = /iWFM/iMonthVw/*
BufferedResources = ./www.ivl
PluginDLL = iMonthVw.dll

[InVision Debug]
ihs.exe=0
ihscon.exe=0