---
replicaCount: 1

image:
  repository: ${imageRepository}
  tag: ${imageTag}

nameOverride: "litellm-admin"

serviceAccount:
  name: ${serviceAccountName}

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

db:
  deployStandalone: false
  useExisting: true
  url: postgresql://$(DATABASE_USERNAME):$(DATABASE_PASSWORD)@$(DATABASE_HOST)/$(DATABASE_NAME)
  database: ${databaseName}
  secret:
    name: ${databaseSecret}
    usernameKey: ${databaseUserNameKey}
    passwordKey: ${databasePasswordKey}
    endpointKey: ${databaseEndpointKey}

masterkeySecretName: ${masterkeySecretName}
masterkeySecretKey: ${masterkeySecretKey}

environmentSecrets:
%{ for secret in environmentSecrets ~}
  - ${secret}
%{ endfor ~}

proxyConfigMap:
  create: true
proxy_config:
  general_settings:
    litellm_license: os.environ/LITELLM_LICENSE
    master_key: os.environ/PROXY_MASTER_KEY
    proxy_admin_email: "Jacob.Woffenden@justice.gov.uk"
    ui_access_mode: "admin_only"
  litellm_settings:
    cache: false
  model_list:
    - model_name: fake-openai-endpoint
      litellm_params:
        model: openai/fake
        api_key: fake-key
        api_base: https://exampleopenaiendpoint-production.up.railway.app/

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: RuntimeDefault

ingress:
  enabled: false

migrationJob:
  enabled: false

envVars: {
    LITELLM_MODE: "PRODUCTION",
    PROXY_BASE_URL: "https://${ingressHostname}",
    DOCS_TITLE: "Data Platform AI Gateway Admin",
    DOCS_DESCRIPTION: "Administration interface for the AI Gateway.",
    DOCS_FILTERED: "True",
    AUTO_REDIRECT_UI_LOGIN_TO_SSO: "True"
}
