---
schemaVersion: "2.2"
description: SSM Document for updating configuration management on windows servers using powershell
parameters:
  branch:
    type: String
    description: Which branch of modernisation-platform-configuration-management to use
    default: main
  powershellScript:
    type: String
    description: Powershell script to invoke from config management repo powershell/Scripts directory
    default: Invoke-UserDataScript.ps1
  powershellScriptArgs:
    type: String
    description: 'Any additional parameters to pass to powershell in hashtable format, e.g. @{"DomainNameFQDN" = "azure.noms.root"} or list format @("arg1", "arg2")'
    default: '$null'
  username:
    type: String
    description: 'Optionally run script using given domain user. The associated domain SecretsManager secret must contain the user password. Use list format for script args'
    default: ''
  whatIfPreference:
    type: String
    description: 'Optionally set whatIfPreference, e.g. set to $true'
    default: '$false'
  verbosePreference:
    type: String
    description: 'Optionally set verbose, e.g. set to Continue for verbose output'
    default: SilentlyContinue

mainSteps:
  - name: WindowsPowershellConfigurationManagement
    action: aws:runPowerShellScript
    precondition:
      StringEquals:
        - platformType
        - Windows
    inputs:
      runCommand:
        - |
          # Run UserData powershell from modernisation-platform-configuration-management repo
          $ErrorActionPreference = "Stop"
          Write-Output "Downloading and running Run-GitScript.ps1"
          Set-Location -Path ([System.IO.Path]::GetTempPath())
          $GitBranch = "{{ branch }}"
          $Script = "{{ powershellScript }}"
          $ScriptArgs = {{ powershellScriptArgs }}
          $Username = "{{ username }}"
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12 # since powershell 4 uses Tls1 as default
          Invoke-WebRequest "https://raw.githubusercontent.com/ministryofjustice/modernisation-platform-configuration-management/${GitBranch}/powershell/Scripts/Run-GitScript.ps1" -OutFile "Run-GitScript.ps1"
          Write-Output "Set WhatIfPreference=$WhatIfPreference VerbosePreference=$VerbosePreference"
          $WhatIfPreference = {{ whatIfPreference }}
          $VerbosePreference = "{{ verbosePreference }}"
          if (-not $ScriptArgs) {
            Write-Output "Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username"
            . ./Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username
          } elseif ($ScriptArgs -is [array]) {
            Write-Output "Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username -ScriptArgsList $ScriptArgs"
            . ./Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username -ScriptArgsList $ScriptArgs
          } else {
            Write-Output ("Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username -ScriptArgs " + ($ScriptArgs | ConvertTo-Json -Compress))
            . ./Run-GitScript.ps1 $Script -GitBranch $GitBranch -Username $Username -ScriptArgs $ScriptArgs
          }
          Exit $LASTEXITCODE
