{
  "StartAt": "InitializeInput",
  "States": {
    "InitializeInput": {
      "Type": "Pass",
      "Result": {
        "source_bucket": "your-default-source",
        "target_bucket": "your-default-target",
        "key_to_migrate": "your-default-key"
      },
      "ResultPath": "$", 
      "Next": "DataCutBack"
    },
    "DataCutBack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${data_cutback}"
      },
      "End": true
    }
  }
}