{
  "StartAt": "DataCutBack",
  "States": {
    "DataCutBack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "execution_input.$": "$",
          "static_config": {
            "source_bucket": "my-source-bucket-name",
            "target_bucket": "my-target-bucket-name",
            "key_to_migrate": "default/path/key"
          }
        },
        "FunctionName": "${data_cutback}"
      },
      "End": true
    }
  }
}