{
  "StartAt": "CaptureInitialRequest",
  "States": {
    "CaptureInitialRequest": {
      "Type": "Pass",
      "Parameters": {
        "initialRequest.$": "$"
      },
      "Next": "EarsSars"
    },
    "EarsSars": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "result.$": "$.Payload"
      },
      "ResultPath": "$.earsSars",
      "Parameters": {
        "FunctionName": "${ears_sars_request}",
        "Payload": {
          "resource": "/request/",
          "path": "/request/",
          "httpMethod": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "multiValueHeaders": {},
          "queryStringParameters": null,
          "requestContext": {
            "resourcePath": "/request/",
            "httpMethod": "POST",
            "path": "/request/",
            "identity": {
              "sourceIp": "127.0.0.1"
            }
          },
          "isBase64Encoded": false,
          "body.$": "States.JsonToString($.initialRequest)"
        }
      },
      "Retry": [
          {
            "ErrorEquals": ["Lambda.AWSLambdaException"],
            "IntervalSeconds": 2,
            "BackoffRate": 2,
            "MaxAttempts": 2
          }
        ],
      "Next": "WriteToSharepoint"
    },
    "WriteToSharepoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "result.$": "$.Payload"
      },
      "ResultPath": "$.sharepoint",
      "Parameters": {
        "FunctionName": "${write_to_sharepoint}",
        "Payload.$": "$.earsSars.result"
      },
      "Retry": [
          {
            "ErrorEquals": ["Lambda.AWSLambdaException"],
            "IntervalSeconds": 2,
            "BackoffRate": 2,
            "MaxAttempts": 2
          }
        ],
      "Next": "SendEmail"
    },
    "SendEmail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${send_email}",
        "Payload": {
          "originalRequest.$": "$.initialRequest",
          "earsSarsResult.$": "$.earsSars.result",
          "sharepointResult.$": "$.sharepoint.result",
          "body.$": "States.JsonToString($)"
        }
      },
      "Retry": [
          {
            "ErrorEquals": ["Lambda.AWSLambdaException"],
            "IntervalSeconds": 2,
            "BackoffRate": 2,
            "MaxAttempts": 2
          }
        ],
      "End": true
    }
  }
}
