{
  "Comment": "TriggerCreateADerivedTable",
  "StartAt": "${environment != "development" ? "WaitUntil11pm" : "Lambda Invoke"}",
  "States": {
    %{ if environment != "development" }
    "WaitUntil11pm": {
      "Type": "Wait",
      "Timestamp": "{% $substringBefore($now(), 'T') & 'T23:00:00Z' %}",
      "Next": "Lambda Invoke"
    },
    %{ endif }
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${trigger_cadt}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "PollCadt"
    },
  "PollCadt": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${poll_cadt}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
