---
ephemeral:
  enabled: true
  karpenter:
    enabled: true
    nodePool: "general-on-demand"
  keda:
    maxReplicaCount: 10
    pollingInterval: 15

github:
  organisation: ${github_organisation}
  repository: ${github_repository}
  token: ${github_token}
  runner:
    labels: ${github_runner_labels}
