cat > /etc/dhcp/dhclient-eth0.conf << 'EOF'
append domain-search "${region}.compute.internal"; 
append domain-search "${application_name}.${vpc_name}-${environment}.modernisation-platform.internal";
EOF
systemctl restart network
if [[ "${X11Forwarding}" == "yes" ]]; then
  yum -y install xauth
  sed -i 's/X11Forwarding no/X11Forwarding yes/g' /etc/ssh/sshd_config
  sed -i 's/#X11UseLocalhost yes/X11UseLocalhost no/g' /etc/ssh/sshd_config
fi
systemctl restart sshd
