---
github:
  app:
    applicationID: "${github_app_application_id}"
    installationID: "${github_app_installation_id}"
  organisation: ${github_organisation}
  repository: ${github_repository}
  runner:
    labels: ${github_runner_labels}

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${eks_role_arn}
