{
  "schemaVersion": "2.2",
  "description": "Install Oracle Secure Web Backup Module on DB Instances",
  "mainSteps": [
    {
      "action": "aws:runShellScript",
      "name": "InstallOracleSecureWeb",
      "inputs": {
        "runCommand": [
          "echo 'Downloading Oracle Secure Web & Java JDK from S3 bucket'",
          "sudo su - oracle",
          "PATH=$PATH:/usr/local/bin # aws binary is sometimes in /usr/local/bin",
          "aws s3 cp s3://${bucket_name}/oracle-secure-web/ /u02/stage/osbws --recursive",
          "ORACLE_HOME=/u01/app/oracle/product/11.2.0.4/db_1",
          "INSTALL_DIR=/u02/stage/osbws",
          "IAM_ROLE_NAME=$(curl http://169.254.169.254/latest/meta-data/iam/security-credentials/)",
          "tar -zxvf $INSTALL_DIR/jdk-7u80-linux-x64.tar.gz -C $INSTALL_DIR",
          "unzip -o $INSTALL_DIR/osbws_installer.zip -d $INSTALL_DIR",
          "echo \"-walletDir $ORACLE_HOME/dbs/osbws_wallet\" >> $INSTALL_DIR/osbws_argfile",
          "echo \"-libDir $ORACLE_HOME/lib\" >> $INSTALL_DIR/osbws_argfile",
          "echo \"-location eu-west-2\" >> $INSTALL_DIR/osbws_argfile",
          "echo \"-awsEndPoint s3-eu-west-2.amazonaws.com\" >> $INSTALL_DIR/osbws_argfile",
          "echo \"-configFile $ORACLE_HOME/dbs/osbws.ora\" >> $INSTALL_DIR/osbws_argfile",
          "cat $INSTALL_DIR/osbws_argfile",
          "export PATH=$PATH:$INSTALL_DIR/jdk1.7.0_80/bin",
          "java -verbose -jar $INSTALL_DIR/osbws_install.jar -ARGFILE $INSTALL_DIR/osbws_argfile -IAMRole $IAM_ROLE_NAME",
          "export OSB_WS_PFILE=$ORACLE_HOME/dbs/osbws.ora",
          "echo \"OSB_WS_BUCKET=${bucket_name}\" >> $ORACLE_HOME/dbs/osbws.ora",
          "sed -i 's/http:\/\//https:\/\//g' $ORACLE_HOME/dbs/osbws.ora",
          "$ORACLE_HOME/bin/sbttest /tmp/foo -libname $ORACLE_HOME/lib/libosbws.so"
        ]
      }
    }
  ]
}