### Generated ###
%{ for rule in rules ~}
${rule.action} ${rule.protocol} ${rule.source_ip} ${rule.source_port} ${rule.direction} ${rule.destination_ip} ${rule.destination_port} (msg:"${rule.description}"; flow:to_server,established; ${rule.type}; content:"${rule.content}"; nocase; startswith; endswith; sid:${2000000 + rule.sid}; rev:${rule.revision};)
%{ endfor ~}
