
# ansible_ssh_common_args: -J {{ hostvars['bastion_linux'].instance_id }} # commented out as connecting direct to each VM via instance-id
# ansible_ssh_common_args: -o StrictHostKeyChecking=no -o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""
ansible_connection: community.aws.aws_ssm
ssm_timeout: 2000
ansible_aws_ssm_region: eu-west-2
ansible_aws_ssm_bucket_name: s3-bucket20210929163229537900000001 # for some reason you need to specify a bucket
instance_id: "{{ hostvars[inventory_hostname].instance_id }}" # for scenarios where {{ ansible_host }} is set to the ip address rather than instance_id