---
replicaCount: 2

service:
  clusterIP: "172.20.0.10"

nodeSelector:
  compute.data-platform.service.justice.gov.uk/node: system

tolerations:
  - key: compute.data-platform.service.justice.gov.uk/node
    operator: Exists
    effect: NoSchedule
