{% for sid in oracle_sids %}
write_files = [
        {
          path        = "/home/oracle/"
          permissions = "0500"
          owner       = "oracle:oinstall"
          encoding    = "b64"
          content     = ${script_content}
        },
      ]
{% endfor %}