---
ephemeral:
  enabled: true
  karpenter:
    enabled: true
    nodePool: "general-on-demand"
  keda:
    maxReplicaCount: 10
    pollingInterval: 15

resources:
  requests:
    cpu: 2
    memory: "16Gi"
  limits:
    cpu: 4
    memory: "32Gi"

github:
  organisation: ${github_organisation}
  repository: ${github_repository}
  token: ${github_token}
  runner:
    labels: ${github_runner_labels}

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${eks_role_arn}
