---
github:
  organisation: ${github_organisation}
  repository: ${github_repository}
  token: ${github_token}
  runner:
    labels: ${github_runner_labels}

runner:
  cache:
    enabled: false

resources:
  requests:
    cpu: 2
    memory: "16Gi"
  limits:
    cpu: 4
    memory: "32Gi"

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${eks_role_arn}
