<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FixNGo End of Life Notice</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>
<body>
  <h1>FixNGo End of Life Notice</h1>
  <p>The Azure FixNGo hosting platform has been decommissioned.
All systems have been migrated to the Modernisation Platform.
Please contact DSO on slack for details of replacement systems
<a href="https://moj.enterprise.slack.com/archives/C6D94J81E" target="_blank">#ask-digital-studio-ops</a>
</p>
</body>
</html>
