---
replicas: 2

hostNetwork:
  enabled: true

containerPort: 4443

nodeSelector:
  compute.data-platform.service.justice.gov.uk/node: system

tolerations:
  - key: compute.data-platform.service.justice.gov.uk/node
    operator: Equal
    value: system
    effect: NoSchedule
