---
nodeSelector:
  compute.data-platform.service.justice.gov.uk/node: system

tolerations:
  - key: compute.data-platform.service.justice.gov.uk/node
    operator: Equal
    value: system
    effect: NoSchedule
  
prometheus:
  metricServer:
    enabled: true
    serviceMonitor:
      enabled: true
  operator:
    enabled: true
    serviceMonitor:
      enabled: true
  webhooks:
    enabled: true
    serviceMonitor:
      enabled: true
