<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>${maintenance_title}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>
<body>
  <h1>${maintenance_title}</h1>
  <p>${maintenance_message}</p>
</body>
</html>
