---
apiVersion: v1
kind: Config
preferences: {}

current-context: aws

clusters:
  - name: kubernetes
    cluster:
      certificate-authority-data: "${certificate_authority_data}"
      server: "${server}"

users:
  - name: aws
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: aws
        args:
          - "eks"
          - "get-token"
          - "--cluster-name"
          - "${cluster_name}"

contexts:
  - name: aws
    context:
      cluster: kubernetes
      user: aws
