---
admissionController:
  replicas: 3
backgroundController:
  replicas: 2
cleanupController:
  replicas: 2
reportsController:
  replicas: 2

config:
  resourceFiltersExcludeNamespaces:
    - kube-system
    - amazon-guardduty
    - aws-observability
