---
name: cloud-platform
on:
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/cloud-platform/**'
      - '.github/workflows/cloud-platform.yml'
      - '.github/workflows/cloud-platform-reusable.yml'

  pull_request:
    branches:
      - main
    paths:
      - 'terraform/environments/cloud-platform/**'
      - '.github/workflows/cloud-platform.yml'
      - '.github/workflows/cloud-platform-reusable.yml'

permissions:
  id-token: write  # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  terraform-pr:
    if: github.event_name == 'pull_request'
    strategy:
      fail-fast: false
      matrix:
        include:
          - application: cloud-platform
            environment: development
            action: "plan_apply"
          - application: cloud-platform
            environment: preproduction
            action: "plan"
          - application: cloud-platform
            environment: nonlive
            action: "plan"
          - application: cloud-platform
            environment: live
            action: "plan"
    uses: ./.github/workflows/cloud-platform-reusable.yml
    with:
      application: "${{ matrix.application }}"
      environment: "${{ matrix.environment }}"
      action: "${{ matrix.action }}"
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_ID: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}

  terraform-main:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        include:
          - application: cloud-platform
            environment: preproduction
            action: "plan_apply"
          - application: cloud-platform
            environment: nonlive
            action: "plan_apply"
          - application: cloud-platform
            environment: live
            action: "plan_apply"
    uses: ./.github/workflows/cloud-platform-reusable.yml
    with:
      application: "${{ matrix.application }}"
      environment: "${{ matrix.environment }}"
      action: "${{ matrix.action }}"
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_ID: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}