---
name: cloud-platform
on:
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/cloud-platform/**'
      - '.github/workflows/cloud-platform.yml'

  pull_request:
    branches:
      - main
    paths:
      - 'terraform/environments/cloud-platform/**'
      - '.github/workflows/cloud-platform.yml'
      - '.github/workflows/cloud-platform-reusable.yml'

permissions:
  id-token: write  # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  terraform:
    strategy:
      fail-fast: false
      matrix:
        include:
          - application: cloud-platform
            environment: development
          - application: cloud-platform
            environment: preproduction
          - application: cloud-platform
            environment: nonlive
          - application: cloud-platform
            environment: live
    uses: ./.github/workflows/cloud-platform-reusable.yml
    with:
      application: "${{ matrix.application }}"
      environment: "${{ matrix.environment }}"
      action: "plan_apply"
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_ID: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}