---
name: Development Container

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/devcontainer.yml
      - .devcontainer/**
  
permissions: {}

env:
  DEVCONTAINER_CLI_VERSION: latest

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install devcontainers/cli
        id: install_devcontainer_cli
        run: npm install -g @devcontainers/cli@${{ env.DEVCONTAINER_CLI_VERSION }}

      - name: devcontainer build
        id: devcontainer_build
        run: devcontainer build --workspace-folder .
