---
name: nomis
on:
  push:
    branches: 
      - main
    paths:
      - 'terraform/environments/nomis/**'
      - '.github/workflows/nomis.yml'
  pull_request:
    branches:
      - main
    types: [opened, edited, reopened, synchronize]
    paths:
      - 'terraform/environments/nomis/**'
      - '.github/workflows/nomis.yml'
  workflow_dispatch:
env:
  AWS_ACCESS_KEY_ID:  ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_IN_AUTOMATION: true
defaults:
  run:
    shell: bash

jobs:
  
#   # These jobs run when creating a pull request
#   plan-development:
#     name: Plan Development - nomis
#     runs-on: ubuntu-latest
#     if: github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch'
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v2.3.4
#       - name: Load and Configure Terraform
#         uses: hashicorp/setup-terraform@v1.3.2
#         with:
#           terraform_version: 1.1.7
#           terraform_wrapper: false
#       - name: Terraform plan - development
#         run: |
#           echo "Terraform plan - ${TF_ENV}"
#           bash scripts/terraform-init.sh terraform/environments/nomis
#           terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
#           bash scripts/terraform-plan.sh terraform/environments/nomis
#         env:
#           TF_ENV: development

#   deploy-development:
#     name: Deploy Development - nomis
#     runs-on: ubuntu-latest
#     if: github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch'
#     environment:
#       name: nomis-development
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v2.3.4
#       - name: Load and Configure Terraform
#         uses: hashicorp/setup-terraform@v1.3.2
#         with:
#           terraform_version: 1.1.7
#           terraform_wrapper: false
#       - name: Terraform apply - development
#         run: |
#           echo "Terraform apply - ${TF_ENV}"
#           bash scripts/terraform-init.sh terraform/environments/nomis
#           terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
#           bash scripts/terraform-apply.sh terraform/environments/nomis
#         env:
#           TF_ENV: development

<<<<<<< HEAD
  plan-all-environments:
    strategy: 
      matrix:
        tf-env: [test, production]
      fail-fast: false
=======
  plan-test:
    name: Plan Test - nomis
>>>>>>> main
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 1.1.7
          terraform_wrapper: false
<<<<<<< HEAD
      - name: Terraform plan - ${{ matrix.tf-env }}
        run: |
          echo "Terraform plan - ${{ matrix.tf-env }}"
          bash scripts/terraform-init.sh terraform/environments/nomis
          terraform -chdir="terraform/environments/nomis" workspace select "nomis-${{ matrix.tf-env }}"
          bash scripts/terraform-plan.sh terraform/environments/nomis

  # plan-test:
  #   name: Plan Test - nomis
  #   runs-on: ubuntu-latest
  #   if: github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch'
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@v2.3.4
  #     - name: Load and Configure Terraform
  #       uses: hashicorp/setup-terraform@v1.3.2
  #       with:
  #         terraform_version: 1.1.7
  #         terraform_wrapper: false
  #     - name: Terraform plan - test
  #       run: |
  #         echo "Terraform plan - ${TF_ENV}"
  #         bash scripts/terraform-init.sh terraform/environments/nomis
  #         terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
  #         bash scripts/terraform-plan.sh terraform/environments/nomis
  #       env:
  #         TF_ENV: test
=======
      - name: Terraform plan - test
        run: |
          echo "Terraform plan - ${TF_ENV}"
          bash scripts/terraform-init.sh terraform/environments/nomis
          terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
          bash scripts/terraform-plan.sh terraform/environments/nomis
        env:
          TF_ENV: test
>>>>>>> main

  deploy-test:
    name: Deploy Test - nomis
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    environment:
      name: nomis-test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 1.1.7
          terraform_wrapper: false
      - name: Terraform apply - test
        run: |
          echo "Terraform apply - ${TF_ENV}"
          bash scripts/terraform-init.sh terraform/environments/nomis
          terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
          bash scripts/terraform-apply.sh terraform/environments/nomis
        env:
          TF_ENV: test

#   # These jobs run after merging to main
#   plan-preproduction:
#     name: Plan Preproduction - nomis
#     runs-on: ubuntu-latest
#     if: github.ref == 'refs/heads/main'
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v2.3.4
#       - name: Load and Configure Terraform
#         uses: hashicorp/setup-terraform@v1.3.2
#         with:
#           terraform_version: 1.1.7
#           terraform_wrapper: false
#       - name: Terraform plan - preproduction
#         run: |
#           echo "Terraform plan - ${TF_ENV}"
#           bash scripts/terraform-init.sh terraform/environments/nomis
#           terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
#           bash scripts/terraform-plan.sh terraform/environments/nomis
#         env:
#           TF_ENV: preproduction

#   deploy-preproduction:
#     name: Deploy Preproduction - nomis
#     runs-on: ubuntu-latest
#     if: github.ref == 'refs/heads/main'
#     environment:
#       name: nomis-preproduction
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v2.3.4
#       - name: Load and Configure Terraform
#         uses: hashicorp/setup-terraform@v1.3.2
#         with:
#           terraform_version: 1.1.7
#           terraform_wrapper: false
#       - name: Terraform apply - preproduction
#         run: |
#           echo "Terraform apply - ${TF_ENV}"
#           bash scripts/terraform-init.sh terraform/environments/nomis
#           terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
#           bash scripts/terraform-apply.sh terraform/environments/nomis
#         env:
#           TF_ENV: preproduction
  
  plan-production:
    name: Plan Production - nomis
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 1.1.7
          terraform_wrapper: false
      - name: Terraform plan - production
        run: |
          echo "Terraform plan - ${TF_ENV}"
          bash scripts/terraform-init.sh terraform/environments/nomis
          terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
          bash scripts/terraform-plan.sh terraform/environments/nomis
        env:
          TF_ENV: production

  deploy-production:
    name: Deploy Production - nomis
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: nomis-production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 1.1.7
          terraform_wrapper: false
      - name: Terraform apply - production
        run: |
          echo "Terraform apply - ${TF_ENV}"
          bash scripts/terraform-init.sh terraform/environments/nomis
          terraform -chdir="terraform/environments/nomis" workspace select "nomis-${TF_ENV}"
          bash scripts/terraform-apply.sh terraform/environments/nomis
        env:
          TF_ENV: production
