---
    name: terraform plan apply

    on:
      workflow_call:
        inputs:
          application:
            type: string
            required: true
            description: "Name of the application, e.g. nomis"
          environment:
            type: string
            required: true
            description: "Name of the environment, e.g. development"
          action:
            type: string
            required: false
            description: "Set to plan or plan_apply"
            default: plan
          terraform_version:
            type: string
            required: false
            description: "The terraform version to use"
            default: "~1"
          plan_apply_tfargs:
            type: string
            required: false
            description: "Any additional terraform arguments to be passed in to terraform plan/apply, e.g. -var 'foo=bar'"
            default: ""
          do_state_refresh_on_plan:
            type: boolean
            required: false
            description: "Set to true to do a state refresh prior to the plan"
            default: false
          post_plan_to_pr:
            type: boolean
            required: false
            description: "Set to true to post terraform plan as a comment to the PR"
            default: false
          component:
            type: string
            required: false
            default: "root"
            description: "Optional: subfolder in 'terraform/environments/<application>' if present."
        secrets:
          MODERNISATION_PLATFORM_ACCOUNT_ID:
            required: true
          PASSPHRASE:
            required: true

    env:
      ACCOUNT_NAME: "${{ inputs.application }}-${{ inputs.environment }}"
      WORKSPACE_NAME: "${{ inputs.application }}-${{ inputs.environment }}"
      SKIP_PLAN_EVALUATOR: '["cloud-platform-live-development", "cloud-platform-live-test", "cloud-platform-non-live-development", "cloud-platform-non-live-test"]'
    concurrency:
      group: ${{ inputs.application }}-${{ inputs.environment }}-${{ inputs.component }}
    jobs:
      fetch-secrets:
        uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@0c879ebf9183dd7e47d3fe9c961afa3271843b8b # v3.6.0
        secrets:
          MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      plan:
        name: "plan"
        runs-on: ubuntu-latest
        needs: fetch-secrets
        outputs:
          plan_exitcode: "${{ steps.plan.outputs.exitcode }}"
        steps:
          - name: Debug
            run: |
              echo "application=${{ inputs.application }}"
              echo "environment=${{ inputs.environment }}"
              echo "action=${{ inputs.action }}"
              echo "plan_apply_tfargs=${{ inputs.plan_apply_tfargs }}"
              echo "do_state_refresh_on_plan=${{ inputs.do_state_refresh_on_plan }}"
              echo "post_plan_to_pr=${{ inputs.post_plan_to_pr }}"
              echo "component=${{ inputs.component }}"

          - name: Checkout Repository
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          - name: Decrypt Secrets
            uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
            with:
              environment_management: ${{ needs.fetch-secrets.outputs.environment_management }}
              github_ci_user_environments_repo_pat: ${{ needs.fetch-secrets.outputs.github_ci_user_environments_repo_pat }}
              PASSPHRASE: ${{ secrets.PASSPHRASE }}
          - name: Set Environment Variables
            run: |
              echo "GITHUB_TOKEN=$GITHUB_CI_USER_ENVIRONMENTS_REPO_PAT" >> $GITHUB_ENV

          - name: Get AWS Account Number
            run: |
              ACCOUNT_NUMBER=$(jq -r -e --arg account_name "${ACCOUNT_NAME}" '.account_ids[$account_name]' <<< $ENVIRONMENT_MANAGEMENT)
              echo "::add-mask::$ACCOUNT_NUMBER"
              echo "ACCOUNT_NUMBER=${ACCOUNT_NUMBER}" >> $GITHUB_ENV

          - name: Get Backend AWS Account Number
            run: |
              BACKEND_NUMBER=$(jq -r -e '.modernisation_platform_account_id' <<< $ENVIRONMENT_MANAGEMENT)
              echo "::add-mask::$BACKEND_NUMBER"
              echo "BACKEND_NUMBER=${BACKEND_NUMBER}" >> $GITHUB_ENV

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
            with:
              role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
              role-session-name: githubactionsrolesession
              aws-region: "eu-west-2"

          - name: Setup Terraform
            uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd  # v3.1.2
            with:
              terraform_version: "${{ inputs.terraform_version }}"
              terraform_wrapper: false

          #
          # Terraform Init
          #
          - name: Terraform Init
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              terraform --version
              echo "terraform init"
              terraform init

          #
          # Terraform Workspace Select
          #
          - name: Terraform Workspace Select
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              terraform workspace select "${WORKSPACE_NAME}"

          #
          # Optional State Refresh
          #
          - name: Terraform State Refresh (Optional)
            if: inputs.do_state_refresh_on_plan == true
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              set -o pipefail
              tf_args="${{ inputs.plan_apply_tfargs }}"
              echo "terraform apply -refresh-only -auto-approve ${tf_args}"
              terraform apply -refresh-only -auto-approve ${tf_args} | bash ${GITHUB_WORKSPACE}/scripts/redact-output.sh

          #
          # Terraform Plan
          #
          - name: Terraform Plan
            id: plan
            env:
              POST_PLAN_TO_PR: "${{ github.event_name == 'pull_request' && inputs.post_plan_to_pr == true }}"
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              set -o pipefail
              exitcode=0
              tf_args="-detailed-exitcode ${{ inputs.plan_apply_tfargs }}"
              [[ ${POST_PLAN_TO_PR} == 'true' ]] && tf_args="${tf_args} -no-color"
              [[ ${{ inputs.do_state_refresh_on_plan }} == 'true' ]] && tf_args="${tf_args} -refresh=false"
              echo "terraform plan ${tf_args} -out=tfplan"
              terraform plan ${tf_args} -out=tfplan | bash ${GITHUB_WORKSPACE}/scripts/redact-output.sh | tee tfplan.txt || exitcode=$?
              terraform show -json tfplan > tfplan.json
              echo "exitcode=${exitcode}"
              echo "exitcode=${exitcode}" >> $GITHUB_OUTPUT
              (( exitcode == 1 )) && exit 1 || exit 0

          - name: Evaluate Terraform Plan
            if: github.event_name == 'pull_request' && steps.plan.outputs.exitcode == '2' && !contains(fromJSON(env.SKIP_PLAN_EVALUATOR), env.WORKSPACE_NAME)
            id: evaluate_terraform_plan
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            shell: bash
            run: |
              bash ${GITHUB_WORKSPACE}/scripts/terraform-plan-evaluator.sh tfplan.json

          - name: Create Plan PR message (Optional)
            if: github.event_name == 'pull_request' && steps.plan.outputs.exitcode == '2' && inputs.post_plan_to_pr == true
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              comment() {
                url="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                len=$(cat tfplan.txt | wc -c)
                echo '**`${{ env.WORKSPACE_NAME }}`** terraform plan on `${{ github.event_name }}` event [#${{ github.run_number }}]('${url}')'
                echo
                echo '```'
                head -c 65476 tfplan.txt | sed -n '/Terraform will perform/,$p'
                echo
                echo '```'
                if [[ $len -gt 65476 ]]; then
                  echo "** Truncated output.  See $url for the rest **"
                fi
              }
              echo 'TF_PLAN_OUT<<EOF' >> $GITHUB_ENV
              comment >> $GITHUB_ENV
              echo 'EOF' >> $GITHUB_ENV

          - name: Hide Previous PR comment (Optional)
            if: ${{ github.event_name == 'pull_request' }}
            working-directory: "scripts/minimise-comments"
            env:
              COMMENT_BODY_CONTAINS: "**`${{ env.WORKSPACE_NAME }}`**"
              PR_NUMBER: "${{ github.event.pull_request.number }}"
            run: |
              go build
              ./minimise-comments

          - name: Post Plan to PR (Optional)
            if: github.event_name == 'pull_request' && steps.plan.outputs.exitcode == '2' && inputs.post_plan_to_pr == true
            env:
              message: "${{ env.TF_PLAN_OUT }}"
            run: |
              escaped_message=$(echo "$message" | jq -Rsa .)
              curl -sS -X POST \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ env.GITHUB_TOKEN }}" \
                "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments" \
                -d '{"body":'"${escaped_message}"'}'

          - name: Check for Approval
            id: check_approval
            if: github.event_name == 'pull_request' && steps.evaluate_terraform_plan.outputs.resources_found == 'true'
            uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
            with:
              github-token: ${{ env.GITHUB_TOKEN }}
              script: |
                const orgName = 'ministryofjustice';
                const teamSlug = 'modernisation-platform';

                const {data: reviews} = await github.rest.pulls.listReviews({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: context.payload.pull_request.number
                });

                const {data: team_members} = await github.rest.teams.listMembersInOrg({
                  org: orgName,
                  team_slug: teamSlug
                });

                const teamMemberLogins = team_members.map(member => member.login);
                const approved = reviews.some(review => review.state === 'APPROVED' && teamMemberLogins.includes(review.user.login));

                if (approved) {
                  core.notice('Pull request approved by a member of @ministryofjustice/modernisation-platform');
                } else {
                  core.setFailed('Terraform plan evaluation detected changes to resources that require approval from a member of @ministryofjustice/modernisation-platform - please contact #ask-modernisation-platform for assistance');

                  await github.rest.pulls.createReview({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    pull_number: context.payload.pull_request.number,
                    event: 'REQUEST_CHANGES',
                    body: 'Terraform plan evaluation detected changes to resources that require approval from @ministryofjustice/modernsation-platform - please contact #ask-modernisation-platform for assistance'
                  });
                }

          - name: Comment if PR Requires Approval
            id: comment_if_not_approved
            if: failure() && github.event_name == 'pull_request' && steps.check_approval.outcome == 'failure'
            uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
            with:
              github-token: ${{ env.GITHUB_TOKEN }}
              script: |
                const owner = context.repo.owner;
                const repo = context.repo.repo;

                await github.rest.issues.createComment({
                  owner: owner,
                  repo: repo,
                  issue_number: context.payload.pull_request.number,
                  body: `@${context.actor} Terraform plan evaluation detected changes to resources that require approval from a member of @ministryofjustice/modernisation-platform - please contact #ask-modernisation-platform for assistance\n
                Guidance on approving these PRs is available at https://user-guide.modernisation-platform.service.justice.gov.uk/runbooks/reviewing-mp-environments-prs.html#process-for-approving-prs`
                });

      #
      # The "apply" job (only runs if plan_exitcode == 2 => changes present)
      #
      apply:
        name: "apply"
        needs: [plan, fetch-secrets]
        if: inputs.action == 'plan_apply' && needs.plan.outputs.plan_exitcode == '2'
        runs-on: ubuntu-latest
        environment: ${{ inputs.component != 'root' && format('{0}-{1}-{2}', inputs.application, inputs.environment, inputs.component) || format('{0}-{1}', inputs.application, inputs.environment) }}
        steps:
          - name: Checkout Repository
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          
          - name: Decrypt Secrets
            uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
            with:
              environment_management: ${{ needs.fetch-secrets.outputs.environment_management }}
              PASSPHRASE: ${{ secrets.PASSPHRASE }}

          - name: Get AWS Account Number
            run: |
              ACCOUNT_NUMBER=$(jq -r -e --arg account_name "${ACCOUNT_NAME}" '.account_ids[$account_name]' <<< $ENVIRONMENT_MANAGEMENT)
              echo "::add-mask::$ACCOUNT_NUMBER"
              echo "ACCOUNT_NUMBER=${ACCOUNT_NUMBER}" >> $GITHUB_ENV

          - name: Get Backend AWS Account Number
            run: |
              BACKEND_NUMBER=$(jq -r -e '.modernisation_platform_account_id' <<< $ENVIRONMENT_MANAGEMENT)
              echo "::add-mask::$BACKEND_NUMBER"
              echo "BACKEND_NUMBER=${BACKEND_NUMBER}" >> $GITHUB_ENV

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
            with:
              role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
              role-session-name: githubactionsrolesession
              aws-region: "eu-west-2"

          - name: Setup Terraform
            uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd  # v3.1.2
            with:
              terraform_version: "${{ inputs.terraform_version }}"
              terraform_wrapper: false

          - name: Terraform Init
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              terraform --version
              echo "terraform init"
              terraform init

          - name: Terraform Workspace Select
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              terraform workspace select "${WORKSPACE_NAME}"

          - name: Terraform Plan
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              set -o pipefail
              tf_args="-out x.tfplan ${{ inputs.plan_apply_tfargs }}"
              echo "terraform plan ${tf_args}"
              terraform plan ${tf_args} | bash ${GITHUB_WORKSPACE}/scripts/redact-output.sh

          - name: Terraform Apply
            working-directory: "${{ inputs.component != 'root' && format('terraform/environments/{0}/{1}', inputs.application, inputs.component) || format('terraform/environments/{0}', inputs.application) }}"
            run: |
              set -o pipefail
              tf_args="${{ inputs.plan_apply_tfargs }} x.tfplan"
              echo "terraform apply ${tf_args}"
              terraform apply ${tf_args} | bash ${GITHUB_WORKSPACE}/scripts/redact-output.sh
