name: "Open Policy Agent: validate terraform"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  run-opa-policy-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install Conftest
        run: |
          wget https://github.com/open-policy-agent/conftest/releases/download/v0.21.0/conftest_0.21.0_Linux_x86_64.tar.gz
          tar xzf conftest_0.21.0_Linux_x86_64.tar.gz
          sudo mv conftest /usr/local/bin
      - name: Run Conftest
        run: bash scripts/tests/validate/run-opa-tests.sh
