---
serviceAccount:
  name: ${service_account_name}

serviceMonitor:
  enabled: true

settings:
  clusterName: ${cluster_name}
  clusterEndpoint: ${cluster_endpoint}
  interruptionQueue: ${interruption_queue}
